.simon {
  margin-left: 43%;
  margin-top: 5%;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap
}

#red, #purple, #yellow, #green {
  border-radius: 50px;
  height: 100px;
  width: 100px
}
#red {
  background-color : red;
}

#purple {
  background-color : #570095;
}

#yellow {
  background-color : yellow;
}

#green {
  background-color : green;
}

#result {
  color : red;
  font-size: 2em;
}
.container {
  text-align: center;
}
